@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Estilos principales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.hero {
    background-color: #333;
    color: white;
    padding: 20px;
}

.nav_link {
    display: flex;
    list-style-type: none;
}

.nav_items {
    margin: 0 15px;
}

.nav_links {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Estilos de fondo de video */
.video-container {
    position: relative;
}

.video-container video {
    width: 100%;
    height: auto;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('imagenes/your-background-image.jpg'); /* Cambia por la imagen que quieras */
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}
